<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="G:/atb10xAPIAutomationPrograms/src/test/java/com/kuldeepkumar290497/ex02_RA_TestNG_AllureReport/APITesting005_TC_TestNG_Fix.java">
        <classes>
            <class name="com.kuldeepkumar290497.ex02_RA_TestNG_AllureReport.APITesting005_TC_TestNG_Fix">
            </class>
        </classes>
    </test>
</suite>